body {
      color:blueviolet;
      background: black;
      margin: opx;
      font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
      border-bottom: solid 2px rgb(0, 80, 112);
      padding: 20px;
      font-size: 32px;
      color: hwb(350 7% 63%);
}
.chamada{
      background: lch(68.96% 38.91 196.44);
      padding-bottom: 80px;
      padding-top: 80px;
      display: flex;
      justify-content: center;
}

.chamada-texto {
      margin-right: 5%;
}

h1{font-size: 40px;
}
p{ font-size: 20px;

}
img {
      height: 200px;
      display: flex;


}
.categoria-videos {
      display: flex;
      overflow-x: auto;
      gap: 10px;

}
.categoria{
      padding-left: 20px;
      padding-right: 20px;

}
.categoria-videos img{
      opacity: 0,5;
      height: 200px;
      margin-top: 50px;
}
.categoria-videos img:hover
   opacity: 1,0;
   border: 3px solid 





