body {
      color:blueviolet;
      background: black;

}
header{
      border-bottom: solid 2px rgb(0, 80, 112);
      padding: 20px;
      font-size: 32px;
      color: hsl(350, 80%, 36%);
}
section {
      background: lab(68.96% -37.32 -11.01);
      padding-bottom: 80px;
      padding-top: 80px;
      display: flex;
      justify-content: center;
}

chamada-texto{
      margin-right: 5%;
}

h1{font-size: 40px;

}




